<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AMC</title>
    <script src="{{ static_url_for('static', filename='socket.io.js') }}"></script>
    <script src="{{ static_url_for('static', filename='amc.js') }}"></script>
    <script src="/ace/ace.js"></script>
    <link rel="stylesheet" href="{{ static_url_for('static', filename='amc.css') }}">
    <link rel="stylesheet" href="{{ static_url_for('static', filename='icons.css') }}">
    <link rel="manifest" href="/manifest.json" />
    <link rel="icon" href="{{ url_for('static', filename='menu-amc.svg') }}">
</head>
<body id="app-body">

  <div id="app" version="{{ app_version }}">
    
    <div id="menu">
      <div class="centered">
        <span id="connection-status" class="offline" title="{{username}}"><i class="iconoir-cable-tag-solid"></i></span>
        <span id="menu-admin-search" class="hidden admin-action adapt-menu"
              onclick="admin_search();"><i class="iconoir-crown"></i></span>
        <span id="menu-admin-back" class="hidden admin-action adapt-menu"
              onclick="admin_back();"><i class="iconoir-profile-circle"></i></span>
      </div>
      <div id="menu-main" class="menubtn adapt-menu" onclick="tab_main();"
           title="{{ _('menu.main') }}"
           ><img src="/static/menu-amc.svg" class="menu"></div>
      <div id="menu-source" class="menubtn hidden adapt-menu" onclick="tab_source();"
           title="{{ _('menu.source') }}"
           ><img src="/static/menu-source.svg" class="menu"></div>
      <div id="menu-scans" class="menubtn hidden adapt-menu" onclick="tab_scans();"
           title="{{ _('menu.scans') }}"
           ><img src="/static/menu-scans.svg" class="menu"></div>
      <div id="menu-grading" class="menubtn hidden adapt-menu" onclick="tab_grading();"
           title="{{ _('menu.grading') }}"
           ><img src="/static/menu-grading.svg" class="menu"></div>
      <div id="menu-config" class="menubtn hidden adapt-menu" onclick="tab_config();"
           title="{{ _('menu.config') }}"
           ><img src="/static/menu-config.svg" class="menu"></div>
      <div id="project-name" onclick="tab_main();"></div>
    </div>

    <div id="tab">
    </div>

  </div>

  <div id="info-panel" class="hidden">
    <div id="info-content">
      <p id="info-text">
      </p>
      <p>
        <progress id="info-prop" value="0" max="100"></progress>
      </p>
    </div>
  </div>

  <div id="warn-panel" class="hidden">
    <div id="warn-content">
      <div class="bandeau">
        <span class="btn btn-neutral" onclick="warn_ok();">OK</span>
      </div>
    </div>
  </div>

</body>
</html>
