<div id="scans" class="scans-failed">
  <div id="failed-pages">
    <div class="distrib">
      <span class="btn btn-ok btn-grow"
            onclick="tab_scans();"
            >{{ _('failed.close') }}</span>
    </div>
    <div class="distrib">
      <span class="btn btn-neutral"
            title="{{ _('failed.preproc') }}"
            onclick="failed_pre_process();"
            >⚙️</span>
      <span class="btn btn-danger"
            title="{{ _('failed.delete') }}"
            onclick="failed_delete();"
            >❌</span>
    </div>
    <div id="failed-report">
    </div>
  </div>
  <div id="failed-images">
    <!-- ponytail: libellés littéraux faute de clés i18n amont -->
    <div id="failed-orig" class="img-pane">
      <div class="img-head">Original</div>
      <img id="failed-orig-img" src=""/>
    </div>
    <div id="failed-pp" class="img-pane">
      <div class="img-head">Après prétraitement</div>
      <img id="failed-pp-img" src=""/>
    </div>
  </div>
</div>
